<div class="container-fluid mt-2" *ngIf="employees">
  <div class="card heading-card p-3">
    <div class="row align-items-center">
      <div class="col-md-10">
        <div class="d-flex justify-content-start align-items-center mb-2">
          <div
            class="d-flex align-items-center pointer-cursor"
            (click)="goBack()"
          >
            <i class="pi pi-arrow-left fw-bold back-btn-icon"></i>
            <span class="back-btn-text ms-2 text-capitalize">{{
              employees.employeeName | capitalizeFirst
            }}</span>
          </div>
        </div>
        <div class="bread-crumb mt-3">
          <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="a4-preview">
  <div id="content" class="a4-page" [innerHTML]="hikeLetterHtml"></div>

  <div class="letter-actions mb-5 mt-3">
    <button
      pButton
      class="p-button-primary"
      (click)="downloadPDF()"
      [disabled]="downloadingPDF || emailingPDF"
    >
      <i class="pi pi-spin pi-spinner" *ngIf="downloadingPDF"></i>
      <i class="pi pi-download" *ngIf="!downloadingPDF"></i>&nbsp;
      {{ downloadingPDF ? "Downloading..." : "Download PDF" }}
    </button>

    <button
      pButton
      class="p-button-primary"
      (click)="emailPDF()"
      [disabled]="downloadingPDF || emailingPDF"
    >
      <i class="pi pi-spin pi-spinner" *ngIf="emailingPDF"></i>
      <i class="pi pi-envelope" *ngIf="!emailingPDF"></i>&nbsp;
      {{ emailingPDF ? " Sending Email..." : " Email PDF" }}
    </button>
  </div>
</div>
