@import '../../../../styles/colors';
.menu-icon{
  height: 30px;
  // box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  // background-color:  rgba($primary-color, 0.1) !important;
  background-color: transparent !important;
  border-radius: 6px;
  color: $primary-color;
}
// .view-btn {
// background-color:  rgba($primary-color, 0.1) !important;
// border-radius: 6px;
// border: none !important;
// }
// .delete-btn {
//   height: 30px;
//   box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
// }
.p-inputtext {
  color: #333;

  padding: 10px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.p-inputtext:hover {
  border: 1px solid #8e89d0 !important;
}
.p-inputtext:focus {
  border: 1px solid #8e89d0 !important;
  box-shadow: 0 0 5px #9b8db5 !important;
  outline: none;
}

.p-inputtext::placeholder {
  color: #888;
}

.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #abc6f7;
}
