<div class="container-fluid mt-2">
  <div class="card heading-card p-3">
    <div class="row align-items-center">
      <div class="col-md-10">
        <div class="d-flex justify-content-start align-items-center mb-2">
          <div
            class="d-flex align-items-center pointer-cursor"
            (click)="goBack()"
          >
            <i class="pi pi-arrow-left fw-bold back-btn-icon"></i>
            <span class="back-btn-text ms-2 text-capitalize">Ip Address</span>
          </div>
        </div>
        <div class="bread-crumb mt-3">
          <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>
        </div>
      </div>
      <div class="col-md-2 text-end">
        <img
          src="../../../assets/images/menu/ip.png"
          width="100"
          class="heading-image"
        />
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading">
  <app-preloader></app-preloader>
</div>

<p-dialog
  [(visible)]="isDialogVisible"
  [modal]="true"
  [closable]="true"
  [responsive]="true"
  class="dialogbox"
  [style]="{ width: '50vw' }"
  header="{{ heading }}"
  (onHide)="clearDialog()"
>
  <div *ngIf="dataLoading" class="preloader-container">
    <app-preloader></app-preloader>
  </div>

  <form
    *ngIf="!dataLoading"
    class="login-form mt-3"
    [formGroup]="ipAddressForm"
    novalidate
    (ngSubmit)="onSubmit(ipAddressForm.value)"
  >
    <div class="py-3 px-4">
      <div class="row">
        <div class="col-md-12">
          <div class="row mt-3" *ngIf="formFields">
            <div *ngFor="let field of formFields" class="mt-2 col-md-6">
              <div>
                <label>
                  {{ field.label }}
                  <span *ngIf="field.required">
                    &nbsp;<sup class="text-danger">*</sup>
                  </span>
                </label>
                <ng-container [ngSwitch]="field.type">
                  <input
                    *ngSwitchCase="'text'"
                    pInputText
                    [formControlName]="field.controlName"
                    [placeholder]="'Enter ' + field.label"
                    [maxlength]="field.maxLength"
                    [style]="{ width: '100%' }"
                    [pattern]="field.pattern"
                    class="rounded-lg"
                    autocomplete="off"
                  />
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex mt-3 mb-5">
        <button
          pButton
          pRipple
          type="submit"
          [disabled]="!ipAddressForm.valid"
          class="p-button-primary p-button-raised"
        >
          {{ actionType == "create" ? "Create" : "Update" }} Ip Address
        </button>
      </div>
    </div>
  </form>
</p-dialog>
<div class="text-capitalize table-card">
  <p-table
    #ipAddressesTable
    [value]="ipAddresses"
    [sortOrder]="1"
    [sortField]="'createdOn'"
    [lazy]="true"
    (onLazyLoad)="loadIpAddresses($event)"
    dataKey="id"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    [rows]="10"
    class="p-datatable-striped table"
    [totalRecords]="totalIpAddressCount"
    [loading]="apiLoading"
    responsiveLayout="scroll"
    scrollHeight="flex"
    [globalFilterFields]="[
      'referenceNo',
      'customer.firstName',
      'partner.partnerName',
      'status'
    ]"
    styleClass="p-datatable-customers"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} IP Address"
  >
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-md-4 mt-1 mb-1 no-padding-small"></div>
        <div class="col-md-4 mt-1 mb-1 no-padding-small"></div>
        <div class="col-md-4 mt-1 mb-1 no-padding-small text-right">
          <div class="d-flex">
            <div class="flex-grow-1 me-2"></div>
            <div class="d-flex align-items-center pointer-cursor">
              <app-filter
                [position]="'right'"
                [iconColor]="'#33009C'"
                [iconSize]="'28px!important'"
                class="me-2"
                (filterEvent)="applyConfigFilters($event)"
                [filterConfig]="filterConfig"
                [showFilterIndication]="appliedFilter"
              >
              </app-filter>
              <button
                pButton
                pRipple
                pTooltip="Add Ip Address"
                tooltipPosition="top"
                type="button"
                class="p-button-primary"
                icon="fa fa-plus"
                (click)="createIpAddress()"
              >
                &nbsp;Add Ip Address
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="ipAddressId" class="text-nowrap">
          Ip Address Id <p-sortIcon field="ipAddressId"></p-sortIcon>
        </th>
        <th pSortableColumn="ipAddressName" class="text-nowrap">
          Name <p-sortIcon field="ipAddressName"></p-sortIcon>
        </th>
        <th pSortableColumn="ipAddress" class="text-nowrap">
          Ip Address
          <p-sortIcon field="ipAddress"></p-sortIcon>
        </th>
        <th pSortableColumn="createdBy" class="text-nowrap">
          Created By <p-sortIcon field="createdBy"></p-sortIcon>
        </th>
        <th pSortableColumn="createdOn" class="text-nowrap">
          Created Date <p-sortIcon field="createdOn"></p-sortIcon>
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ipAddress>
      <tr>
        <td>
          <span
            class="table-column-data"
            *ngIf="ipAddress.ipAddressId; else noData"
            >{{ ipAddress.ipAddressId }}</span
          >
        </td>
        <td>
          <b>
            <span
              class="table-column-data"
              *ngIf="ipAddress.ipAddressName; else noData"
              >{{ ipAddress.ipAddressName | capitalizeFirst }}</span
            >
          </b>
        </td>
        <td>
          <span
            class="table-column-data"
            *ngIf="ipAddress.ipAddress; else noData"
            >{{ ipAddress.ipAddress | capitalizeFirst }}</span
          >
        </td>
        <td>
          <span
            class="table-column-data"
            *ngIf="ipAddress.createdBy; else noData"
            >{{ ipAddress.createdBy | capitalizeFirst }}</span
          >
        </td>
        <td>
          <span
            class="table-column-data"
            *ngIf="ipAddress.createdOn; else noData"
            >{{ ipAddress.createdOn | date : "mediumDate" }}</span
          >
        </td>

        <td>
          <div class="text-center">
            <div class="d-flex">
              <button
                pButton
                pRipple
                type="button"
                pTooltip="Update"
                class="p-button-success me-2 update-btn"
                icon="fa fa-pen-to-square"
                (click)="updateIpAddress(ipAddress)"
              ></button>
              <button
                *ngIf="capabilities.delete"
                pButton
                type="button"
                icon="fa fa-trash"
                pTooltip="Delete"
                class="p-button-danger me-2 delete-btn"
                (click)="confirmDelete(ipAddress)"
              ></button>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="text-center">
        <td colspan="10" class="text-center fw-bold">
          <img
            src="../../../assets/images/menu/nodata.gif"
            width="200"
            height="200"
          />
          <p>No Ip Address Found</p>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<ng-template #noData> - </ng-template>
<footer class="p-2 text-center text-lg-start mt-3" style="color: #878a99">
  <div class="text-center mb-3 fw-bold">
    © {{ currentYear }} <span style="color: #1e4079">The</span>&nbsp;<b
      style="color: #51c297"
      >Fintalk</b
    >. | All Rights Reserved
  </div>
</footer>
