<div class="container-fluid mt-2">
  <div class="card heading-card p-3">
    <div class="row align-items-center">
      <div class="col-md-10">
        <div class="d-flex justify-content-start align-items-center mb-2">
          <div
            class="d-flex align-items-center pointer-cursor"
            (click)="goBack()"
          >
            <i class="pi pi-arrow-left fw-bold back-btn-icon"></i>
            <span class="back-btn-text ms-2 text-capitalize">{{
              heading
            }}</span>
          </div>
        </div>
        <div class="bread-crumb mt-3">
          <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>
        </div>
      </div>
      <!-- <div class="col-md-2 text-end">
        <img
          src="../../../../assets/images/menu/leavemanagement.png"
          width="100"
          class="heading-image"
        />
      </div> -->
    </div>
  </div>
</div>

<div *ngIf="loading">
  <app-preloader></app-preloader>
</div>
<div class="bg-color custom-steps-card" *ngIf="!loading">
  <form
    class="login-form mt-3"
    [formGroup]="leavesForm"
    novalidate
    (ngSubmit)="onSubmit(leavesForm.value)"
  >
    <div class="py-3 px-4">
      <div class="row">
        <div class="col-md-12">
          <div class="row mt-3" *ngIf="formFields">
            <div
              *ngFor="let field of formFields"
              [ngClass]="{
                'col-md-12':
                  field.controlName === 'reason' ||
                  field.controlName === 'leaveDocument',
                'col-md-4':
                  field.controlName !== 'reason' &&
                  field.controlName !== 'leaveDocument'
              }"
              class="mt-2"
            >
              <div>
                <label>
                  {{ field.label }}
                  <span *ngIf="field.required">
                    &nbsp;<sup class="text-danger">*</sup>
                  </span>
                </label>
                <ng-container [ngSwitch]="field.type">
                  <input
                    *ngSwitchCase="'text'"
                    pInputText
                    [formControlName]="field.controlName"
                    [placeholder]="'Enter ' + field.label"
                    [maxlength]="field.maxLength"
                    [pattern]="field.pattern"
                    class="rounded-lg"
                    autocomplete="off"
                  />
                  <div *ngSwitchCase="'calendar'" class="custom-calendar-wrapper position-relative">
                    <p-calendar
                    #calendar
                    [formControlName]="field.controlName"
                    [placeholder]="'Select ' + field.label"
                    [showIcon]="false"
                    appendTo="body"
                    dateFormat="yy-mm-dd"
                    styleClass="w-100"
                    [readonlyInput]="true"
                    [showButtonBar]="true"
                  ></p-calendar>
                  <img
                    src="../../../assets/images/icons/calendar.svg"
                    alt="Calendar Icon"
                    class="calendar-custom-img"
                    (click)="calendar.toggle()"
                    
                  />
                  </div>
                  <p-dropdown
                    *ngSwitchCase="'dropdown'"
                    [options]="this[field.options]"
                    [formControlName]="field.controlName"
                    [optionLabel]="field.optionLabel"
                    [optionValue]="field.optionValue"
                    [showClear]="false"
                    appendTo="body"
                    [placeholder]="'Select ' + field.label"
                    [dropdownIcon]="'pi pi-chevron-down'"
                    styleClass="w-100"
                    [filter]="true"
                    filterPlaceholder="Search..."
                  ></p-dropdown>
                  <textarea
                    *ngSwitchCase="'textarea'"
                    pInputTextarea
                    class="rounded-lg"
                    autocomplete="off"
                    [formControlName]="field.controlName"
                    [placeholder]="'Enter ' + field.label"
                    [cols]="30"
                  ></textarea>
                  <div *ngSwitchCase="'file'">
                    <small class="text-muted d-block mb-2" *ngIf="field.hint">{{
                      field.hint
                    }}</small>
                    <button
                      pButton
                      type="button"
                      icon="fa fa-cloud-arrow-up"
                      class="p-button-secondary"
                      (click)="uploadLeaveDocument()"
                    >
                      &nbsp;Upload {{ field.label }}
                    </button>
                    <div
                      class="mt-2"
                      *ngIf="selectedFiles.leaveDocument.links?.length"
                    >
                      <div
                        class="d-flex align-items-center mb-2"
                        *ngFor="
                          let link of selectedFiles.leaveDocument.links;
                          let i = index
                        "
                      >
                        <a
                          [href]="getFileUrl(link)"
                          target="_blank"
                          class="me-2"
                        >
                          View document {{ i + 1 }}
                        </a>
                        <button
                          *ngIf="!capabilities?.employee"
                          pButton
                          type="button"
                          icon="pi pi-trash"
                          class="p-button-danger p-button-text p-button-sm"
                          (click)="confirmDeleteLeaveDocument(i)"
                        ></button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex mt-3 mb-5">
        <button
          pButton
          pRipple
          type="button"
          class="p-button-info goback-button p-button-raised me-2"
          (click)="goBack()"
        >
          Go Back
        </button>
        <button
          pButton
          pRipple
          type="submit"
          [disabled]="!leavesForm.valid"
          class="p-button-primary p-button-raised"
        >
          {{ actionType == "create" ? "Create" : "Update" }} Leave
        </button>
      </div>
    </div>
  </form>
</div>

<footer class="p-2 text-center text-lg-start mt-3" style="color: #878a99">
  <div class="text-center mb-3">
    © {{ currentYear }} <span style="color: #8E89D0">My</span>&nbsp;<b
      style="color: #535AB4"
      >HRMS</b
    >. | All Rights Reserved
  </div>
</footer>
<p-confirmDialog></p-confirmDialog>
