<div class="container-fluid mt-2">
  <div class="card heading-card p-3">
    <div class="row align-items-center">
      <div class="col-md-10">
        <div class="d-flex justify-content-start align-items-center mb-2">
          <div
            class="d-flex align-items-center pointer-cursor"
            (click)="goBack()"
          >
            <i class="pi pi-arrow-left fw-bold back-btn-icon"></i>
            <span class="back-btn-text ms-2 text-capitalize">
              {{ selectedDate | date }} Attendance
            </span>
          </div>
        </div>
        <div class="bread-crumb mt-3">
          <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>
        </div>
      </div>
      <div class="col-md-2 text-end">
        <img
          src="../../../../assets/images/menu/createattendance.png"
          width="100"
          class="heading-image"
        />
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <app-preloader></app-preloader>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="d-flex flex-wrap justify-content-start">
      <ng-container *ngFor="let item of countsAnalytics">
        <div class="col-lg-2 col-md-4 col-sm-4 col-12 mt-2">
          <div class="card p-3 shadow-sm pointer-cursor m-2 cards">
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <div>
                  <div class="count-sub-title">
                    {{ item.displayName }}
                  </div>
                  <div class="count-title">
                    {{ item.count }}
                  </div>
                </div>
              </div>
              <div
                class="cardicons"
                [ngStyle]="{
                  color: item.textcolor,
                  'background-color': item.backgroundcolor
                }"
              >
                <i class="fa fa-{{ item.name }}"></i>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="text-capitalize table-card">
  <p-table
    #employeesTable
    [value]="employeeDetails"
    [sortOrder]="1"
    [sortField]="'joiningDate'"
    [lazy]="true"
    (onLazyLoad)="loadEmployees($event)"
    dataKey="id"
    [showCurrentPageReport]="true"
    class="p-datatable-striped table"
    [totalRecords]="totalEmployeesCount"
    [loading]="apiLoading"
    responsiveLayout="scroll"
    scrollHeight="flex"
    [globalFilterFields]="[
      'referenceNo',
      'customer.firstName',
      'partner.partnerName',
      'status'
    ]"
    styleClass="p-datatable-customers"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Employees"
  >
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-md-4 mt-1 mb-1 no-padding-small">
          <div class="p-inputgroup">
            <input
              type="text"
              pInputText
              placeholder="Search with Employee Name"
              [(ngModel)]="employeeNameToSearch"
              (ngModelChange)="
                inputValueChangeEvent('employeeId', employeeNameToSearch)
              "
              (keyup.enter)="filterWithEmployeeName()"
            />
            <button
              type="button"
              pButton
              icon="pi pi-search"
              class="p-button-primary"
              [disabled]="!employeeNameToSearch"
              (click)="filterWithEmployeeName()"
            ></button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <!-- <th class="text-nowrap">Employee Id</th> -->
        <th class="text-nowrap">Custom Employee Id</th>
        <th class="text-nowrap">Employee Name</th>
        <th class="text-nowrap">Designation Name</th>
        <th class="text-nowrap">Joining Date</th>
        <th class="text-nowrap">Attendance Status</th>
        <th class="text-nowrap">Check-in Time</th>
        <th class="text-nowrap">Check-Out Time</th>
        <th class="text-nowrap">Reason</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <!-- <td>{{ employee.employeeId }}</td> -->
        <td>{{ employee.customEmployeeId  }}</td>
        <td>
          <div class="d-flex align-items-center">
            <span class="me-2">
              <ng-container
                *ngIf="
                  employee && employee.passPhoto?.length > 0;
                  else defaultImage
                "
              >
                <a [href]="'//' + employee.passPhoto[0]" target="_blank">
                  <img
                    [src]="'//' + employee.passPhoto[0]"
                    alt="Image"
                    class="employeeImage"
                    style="height: 40px; width: 40px"
                  />
                </a>
              </ng-container>
              <ng-template #defaultImage>
                <img
                  src="../../../assets/images/profile/user.png"
                  alt="Default Image"
                  class="employeeImage"
                  style="height: 40px; width: 40px"
                />
              </ng-template>
            </span>
            <b>
              <span *ngIf="employee.employeeName" class="table-column-data">
                {{ employee.employeeName | capitalizeFirst }}
              </span>
            </b>
          </div>
        </td>
        <td>
          <span class="table-column-data" *ngIf="employee.designationName">{{
            employee.designationName
          }}</span>
        </td>
        <td>
          <span class="table-column-data" *ngIf="employee.joiningDate">{{
            employee.joiningDate | date : "mediumDate"
          }}</span>
        </td>
        <td>
          <ng-container [ngSwitch]="employee.status">
            <i
              *ngSwitchCase="'Present'"
              pTooltip="Present"
              class="fa fa-check-circle text-success"
              title="Present"
            ></i>
            <i
              *ngSwitchCase="'Absent'"
              pTooltip="Absent"
              class="fa fa-circle-xmark text-danger"
              title="Absent"
            ></i>
            <i
              *ngSwitchCase="'Half-day'"
              pTooltip="Half-day"
              class="fa fa-circle-half-stroke text-warning"
              title="Half-day"
            ></i>
            <i
              *ngSwitchCase="'Late'"
              pTooltip="Late"
              class="fa fa-circle-exclamation text-primary"
              title="Late"
            ></i>
            <span *ngSwitchDefault>{{ employee.status }}</span>
          </ng-container>
        </td>
        <td>{{ employee.checkInTime }}</td>
        <td>{{ employee.checkOutTime }}</td>
        <!-- <td>{{ employee.reason | capitalizeFirst }}</td> -->
        <td>
          <textarea
            pInputTextarea
            rows="1"
            [value]="employee.reason | capitalizeFirst"
            class="rounded-lg form-control"
            [style]="{ width: '200px' }"
            [readonly]="true"
          >
          </textarea>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<footer class="p-2 text-center text-lg-start mt-3" style="color: #878a99">
  <div class="text-center mb-3 fw-bold">
    © {{ currentYear }} <span style="color: #1e4079">The</span>&nbsp;<b
      style="color: #51c297"
      >Fintalk</b
    >. | All Rights Reserved
  </div>
</footer>
