.reportscard {
  margin: 10px;
  border: none !important;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(80, 82, 106, 0.25);
}

.create i.fa {
  color: #31425e;
  font-size: 22px;
}
.report-name {
  color: #31425e;
  font-size: 18px;
}
