.a4-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f0f0;
  padding: 20px;
}

.a4-page {
  width: 210mm;
  // min-height: 297mm;
  padding: 10mm;
  box-sizing: border-box;
  background: #fff;
}