.p-inputtext {
  color: #333;
  padding: 10px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.p-inputtext:hover {
  border: 1px solid #b2a9e3 !important;
}
.p-inputtext:focus {
  border: 1px solid #706ec4 !important;
  box-shadow: 0 0 5px #9b8db5 !important;
  outline: none;
}

.p-inputtext::placeholder {
  color: #888;
}
.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #b2a9e3;
}
.card {
  border: none;
  box-shadow: 0 0 10px 1px rgba(80, 82, 106, 0.25);
}
